<div class="page-header">
  <h3>Recommendation #<%= @recommendation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Recommendation</dt>
      <dd><%= @recommendation.recommendation %></dd>

      <dt>State</dt>
      <dd><%= @recommendation.state_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recommendations" class="btn btn-primary">
        Back
      </a>
      <a href="/recommendations/<%= @recommendation.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recommendation/<%= @recommendation.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Recommendation has many category -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Category
      </li>

      <% @recommendation.category.each do |category| %>
        <li class="list-group-item">
          <a href="/categories/<%= category.id %>">
            <%= category.type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/categories/<%= category.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/categories/<%= category.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_category/<%= category.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
