<div class="page-header">
  <h3>Recipe #<%= @recipe.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Recipe name</dt>
      <dd><%= @recipe.recipe_name %></dd>

      <dt>Recipe url</dt>
      <dd><%= @recipe.recipe_url %></dd>

      <dt>State</dt>
      <dd>
        <% if @recipe.state.present? %>
          <a href="/states/<%= @recipe.state_id %>">
            <%= @recipe.state.category_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/recipes" class="btn btn-primary">
        Back
      </a>
      <a href="/recipes/<%= @recipe.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_recipe/<%= @recipe.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Recipe has many category -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Category
      </li>

      <% @recipe.category.each do |category| %>
        <li class="list-group-item">
          <a href="/categories/<%= category.id %>">
            <%= category.type %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/categories/<%= category.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/categories/<%= category.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_category/<%= category.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
