<div class="page-header">
  <h3>State #<%= @state.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Category</dt>
      <dd><%= @state.category_id %></dd>

      <dt>Stage1</dt>
      <dd><%= @state.stage1 %></dd>

      <dt>Stage2</dt>
      <dd><%= @state.stage2 %></dd>

      <dt>Stage3</dt>
      <dd><%= @state.stage3 %></dd>

      <dt>Stage4</dt>
      <dd><%= @state.stage4 %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/states" class="btn btn-primary">
        Back
      </a>
      <a href="/states/<%= @state.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_state/<%= @state.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A State has many recommendations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommendations
      </li>

      <% @state.recommendations.each do |recommendation| %>
        <li class="list-group-item">
          <a href="/recommendations/<%= recommendation.id %>">
            <%= recommendation.recommendation %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_recommendation" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recommendation -->
      <div class="form-group">
        <label for="recommendation" class="control-label">
          Recommendation
        </label>

        <textarea id="recommendation" name="recommendation" placeholder="Recommendation" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for state_id -->
      <input type="hidden" name="state_id" value="<%= @state.id %>">

      <button class="btn btn-block btn-success">
        Create Recommendation
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A State has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @state.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.recipe_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_recipe" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recipe_name -->
      <div class="form-group">
        <label for="recipe_name" class="control-label">
          Recipe name
        </label>

        <textarea id="recipe_name" name="recipe_name" placeholder="Recipe name" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for recipe_url -->
      <div class="form-group">
        <label for="recipe_url" class="control-label">
          Recipe url
        </label>

        <input type="text" id="recipe_url" name="recipe_url" placeholder="Recipe url" class="form-control" value="">
      </div>

      <!-- Label and input for state_id -->
      <input type="hidden" name="state_id" value="<%= @state.id %>">

      <button class="btn btn-block btn-success">
        Create Recipe
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
