<div class="page-header">
  <h1>
    Dashboard
    <p class="lead">Upcoming expirations</p>
  </h1>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Item</th>
        <th>Category</th>
        <!-- <th>Purchase Date</th> -->
        <!-- <th>Notes</th> -->
        <th>Status</th>
        <th>Recommendation</th>
        <th>Recipe</th>
        <th>Actions</th>
      </tr>

      <% Purchase.all.to_ary.each do |purchase| %>
      <tr>
        <td>
          <img src="<%= purchase.category.photo_url + "  " %>" height="45">
          <a href="/purchases/<%= purchase.id %>">
          <%= purchase.purchase_name %>
        </td>
        <td>
          <% if purchase.category.present? %>
            <!-- <a href="/categories/<%= purchase.category.id %>"> -->
              <%= purchase.category.category.gsub('_', ' ').capitalize %>
            </a>
          <% end %>
        </td>
        <!-- <td><%= purchase.purchase_date %></td> -->
        <!-- <td><%= purchase.notes %></td> -->

        <!-- Logic for states -->
        <td>Stage to be added
        </td>

        <td>Recommendation to be added</td>

        <td>Recipe to be added</td>

        <td>
          <a href="/purchases/<%= purchase.id %>" class="btn btn-link">Show</a>

          <% if current_user == purchase.user %>
            <a href="/purchases/<%= purchase.id %>/edit" class="btn btn-link">Edit</a>
            <a href="/delete_purchase/<%= purchase.id %>" class="btn btn-link" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
