<div class="page-header">
  <h3><%= @purchase.purchase_name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Item</dt>
      <dd><%= @purchase.purchase_name %></dd>

      <dt>Category</dt>
      <dd>
        <% if @purchase.category.present? %>
          <a href="/categories/<%= @purchase.category_id %>">
            <%= @purchase.category.category.gsub('_', ' ').capitalize %>
          </a>
        <% end %>
      </dd>

      <dt>Purchase Date</dt>
      <dd><%= @purchase.purchase_date %></dd>

      <dt>Notes</dt>
      <dd><%= @purchase.notes %></dd>

      <!-- <dt>User</dt>
      <dd>
        <% if @purchase.user.present? %>
          <a href="/users/<%= @purchase.user_id %>">
            <%= @purchase.user.email %>
          </a>
        <% end %>
      </dd> -->

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/purchases" class="btn btn-success">
        Back
      </a>
      <% if current_user == @purchase.user %>
        <a href="/purchases/<%= @purchase.id %>/edit" class="btn btn-info">
          Edit
        </a>
        <a href="/delete_purchase/<%= @purchase.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
