<!-- Validation failure messages -->
<% if @category.errors.any? %>
  <% @category.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Category</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_category" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for type -->
      <div class="form-group">
        <label for="type" class="control-label">
          Category
        </label>

        <input type="text" id="type" name="type" placeholder="Type" class="form-control" value="<%= @category.type %>">
      </div>

      <!-- Label and input for sub_categories -->
      <div class="form-group">
        <label for="sub_categories" class="control-label">
          Sub categories
        </label>

        <textarea id="sub_categories" name="sub_categories" placeholder="Sub categories" class="form-control" rows="3"><%= @category.sub_categories %></textarea>
      </div>

      <!-- Label and input for photo_url -->
      <div class="form-group">
        <label for="photo_url" class="control-label">
          Photo url
        </label>

        <input type="text" id="photo_url" name="photo_url" placeholder="Photo url" class="form-control" value="<%= @category.photo_url %>">
      </div>

      <!-- Label and input for lifespan -->
      <div class="form-group">
        <label for="lifespan" class="control-label">
          Lifespan
        </label>

        <input type="text" id="lifespan" name="lifespan" placeholder="Lifespan" class="form-control" value="<%= @category.lifespan %>">
      </div>

      <!-- Label and input for refrigeration -->
      <div class="checkbox">
        <label for="refrigeration">
          <input type="checkbox" id="refrigeration" name="refrigeration" value="1" <%= "checked" if @category.refrigeration %>>
          Refrigeration
        </label>
      </div>

      <!-- Label and input for storage_suggestions -->
      <div class="form-group">
        <label for="storage_suggestions" class="control-label">
          Storage suggestions
        </label>

        <textarea id="storage_suggestions" name="storage_suggestions" placeholder="Storage suggestions" class="form-control" rows="3"><%= @category.storage_suggestions %></textarea>
      </div>

      <button class="btn btn-success">
        Create Category
      </button>
      or
      <a href="/categories">Cancel</a>
    </form>
  </div>
</div>
