<div class="page-header">
  <h3>Category #<%= @category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd><%= @category.type %></dd>

      <dt>Sub categories</dt>
      <dd><%= @category.sub_categories %></dd>

      <dt>Photo url</dt>
      <dd><%= @category.photo_url %></dd>

      <dt>Lifespan</dt>
      <dd><%= @category.lifespan %></dd>

      <dt>Refrigeration</dt>
      <dd><%= @category.refrigeration %></dd>

      <dt>Storage suggestions</dt>
      <dd><%= @category.storage_suggestions %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/categories" class="btn btn-primary">
        Back
      </a>
      <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
