<div class="page-header">
  <h3><img src="<%= @category.photo_url %>" height="60"><%= @category.category.capitalize %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <!-- <dt>Category</dt>
      <dd><%= @category.category.capitalize %></dd> -->

      <dt>Sub-categories</dt>
      <dd><%= @category.sub_categories %></dd>

      <!-- <dt>Photo url</dt>
      <dd><img src="<%= @category.photo_url %>"></dd> -->

      <dt>Avg. Lifespan (Days)</dt>
      <dd><%= @category.lifespan %></dd>

      <dt>Refrigerate?</dt>
      <dd><%= @category.refrigeration %></dd>

      <dt>Storage suggestions</dt>
      <dd><%= @category.storage_suggestions.gsub('"', ' ') %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/categories" class="btn btn-primary">
        Back
      </a>
      <!-- <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a> -->
    </div>
  </div>
</div>

<!-- A Category has many purchases -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Add Purchase
      </li>

      <!-- <% @category.purchases.each do |purchase| %>
        <li class="list-group-item">
          <a href="/purchases/<%= purchase.id %>">
            <%= purchase.purchase_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/purchases/<%= purchase.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/purchases/<%= purchase.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_purchase/<%= purchase.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %> -->

      <li class="list-group-item">
        <form action="/create_purchase" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for purchase_name -->
      <div class="form-group">
        <label for="purchase_name" class="control-label">
          Purchase name
        </label>

        <input type="text" id="purchase_name" name="purchase_name" placeholder="Purchase name" class="form-control" value="">
      </div>

      <!-- Label and input for category_id -->
      <input type="hidden" name="category_id" value="<%= @category.id %>">

      <!-- Label and input for purchase_date -->
      <div class="form-group">
        <label for="purchase_date" class="control-label">
          Purchase date
        </label>

        <input type="text" id="purchase_date" name="purchase_date" placeholder="Purchase date" class="form-control" value="">
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"></textarea>
      </div>

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-block btn-success">
        Create Purchase
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Category has many states -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        States
      </li>

      <% @category.states.each do |state| %>
        <li class="list-group-item">
          <a href="/states/<%= state.id %>">
            <%= state.category_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/states/<%= state.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/states/<%= state.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_state/<%= state.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_state" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for category_id -->
      <input type="hidden" name="category_id" value="<%= @category.id %>">

      <!-- Label and input for stage1 -->
      <div class="form-group">
        <label for="stage1" class="control-label">
          Stage1
        </label>

        <input type="text" id="stage1" name="stage1" placeholder="Stage1" class="form-control" value="">
      </div>

      <!-- Label and input for stage2 -->
      <div class="form-group">
        <label for="stage2" class="control-label">
          Stage2
        </label>

        <input type="text" id="stage2" name="stage2" placeholder="Stage2" class="form-control" value="">
      </div>

      <!-- Label and input for stage3 -->
      <div class="form-group">
        <label for="stage3" class="control-label">
          Stage3
        </label>

        <input type="text" id="stage3" name="stage3" placeholder="Stage3" class="form-control" value="">
      </div>

      <!-- Label and input for stage4 -->
      <div class="form-group">
        <label for="stage4" class="control-label">
          Stage4
        </label>

        <input type="text" id="stage4" name="stage4" placeholder="Stage4" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create State
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Category has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @category.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Category has many recommendations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommendations
      </li>

      <% @category.recommendations.each do |recommendation| %>
        <li class="list-group-item">
          <a href="/recommendations/<%= recommendation.id %>">
            <%= recommendation.recommendation %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Category has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @category.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.recipe_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
