<div class="page-header">
  <h3>Category #<%= @category.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Type</dt>
      <dd><%= @category.type %></dd>

      <dt>Sub categories</dt>
      <dd><%= @category.sub_categories %></dd>

      <dt>Photo url</dt>
      <dd><%= @category.photo_url %></dd>

      <dt>Lifespan</dt>
      <dd><%= @category.lifespan %></dd>

      <dt>Refrigeration</dt>
      <dd><%= @category.refrigeration %></dd>

      <dt>Storage suggestions</dt>
      <dd><%= @category.storage_suggestions %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/categories" class="btn btn-primary">
        Back
      </a>
      <a href="/categories/<%= @category.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_category/<%= @category.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Category has many purchases -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Purchases
      </li>

      <% @category.purchases.each do |purchase| %>
        <li class="list-group-item">
          <a href="/purchases/<%= purchase.id %>">
            <%= purchase.purchase_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/purchases/<%= purchase.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/purchases/<%= purchase.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_purchase/<%= purchase.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Category has many states -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        States
      </li>

      <% @category.states.each do |state| %>
        <li class="list-group-item">
          <a href="/states/<%= state.id %>">
            <%= state.category_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/states/<%= state.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/states/<%= state.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_state/<%= state.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Category has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @category.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Category has many recommendations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recommendations
      </li>

      <% @category.recommendations.each do |recommendation| %>
        <li class="list-group-item">
          <a href="/recommendations/<%= recommendation.id %>">
            <%= recommendation.recommendation %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recommendations/<%= recommendation.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recommendations/<%= recommendation.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recommendation/<%= recommendation.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Category has many recipes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Recipes
      </li>

      <% @category.recipes.each do |recipe| %>
        <li class="list-group-item">
          <a href="/recipes/<%= recipe.id %>">
            <%= recipe.recipe_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/recipes/<%= recipe.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_recipe/<%= recipe.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
